@import "variables";
// @import url(../fonts/Roboto/Roboto.css);

*,
ul,
p {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
	outline: none;
	font-family: "Montserrat", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

section,
body {
	overflow: hidden;
}

main {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
	transition: 0.4s;
	// padding: 150px;
	flex-shrink: 0;
	min-width: 100vw;

	&::before {
		background: url(/assets/icons/bg-dots.svg) no-repeat center center/contain;
		width: 40%;
		height: 50%;
		content: "";
		position: absolute;
		top: -50px;
		left: -60px;
		z-index: -1;
		opacity: 0.7;
	}

	&::after {
		background: url(/assets/icons/bg-logo.svg) no-repeat center center/contain;
		width: 30%;
		height: 50%;
		position: absolute;
		bottom: 10px;
		right: -150px;
		z-index: -1;
		content: "";
		opacity: 0.7;
	}

	&.opened {
		transform: translateX(500px);
		opacity: 0.2;
	}

	.container {
		width: 1400px;
	}
}

header {
	height: 0;

	& > .logo {
		position: fixed;
		z-index: 98;
		top: 40px;
		right: 40px;
		width: 180px;

		a {
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				width: 100%;
			}
		}
	}

	.navigation {
		width: 500px;
		max-height: 100vh;
		position: relative;
		transform: translateX(-100%);
		transition: 0.4s;
		z-index: 99;

		.content {
			display: flex;
			flex-direction: column;
			padding: 50px 30px;
			height: 100vh;
			overflow: hidden;
			background: $violet;

			.logo {
				height: 25%;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					width: 150px;
					filter: brightness(10);
				}
			}

			ul {
				height: 50%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;

				li {
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}

					a {
						font-family: "Typo";
						font-size: 28px;
						color: $white;
						transition: 0.2s;
						display: flex;
						align-items: center;
						justify-content: flex-start;

						&::before {
							display: flex;
							height: 2px;
							width: 35px;
							margin-right: 15px;
							background: $white;
							content: "";
							transition: 0.6s;
						}

						&:hover {
							&::before {
								width: 100px;
							}
						}
					}
				}
			}

			.bottom {
				height: 25%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;

				.socials {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 20px;

					a {
						width: 45px;
						height: 45px;
						border-radius: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						background: $white;
						margin: 0 5px;
						transition: 0.3s;

						&:hover {
							transform: scale(1.1);
						}

						img {
							width: 50%;
							height: 50%;
							object-fit: contain;
							filter: invert(1);
						}
					}
				}

				p {
					text-align: center;
					font-size: 14px;
					margin-bottom: 20px;
					color: $white;
				}

				a {
					text-align: center;
					font-size: 46px;
					font-weight: 100;
					line-height: 1;
					color: $white;
				}
			}
		}

		.button {
			position: absolute;
			top: 50%;
			right: 0;
			width: 225px;
			height: 225px;
			background: $violet;
			border-radius: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transform: translate(55%, -50%);
			transition: 0.3s;

			img {
				transform: translate(35px);
				height: 70px;
				transition: 0.3s;
			}
		}

		&.opened {
			transform: translateX(0);

			.button {
				transform: translate(40%, -50%);

				img {
					transform: translate(20px) rotate(180deg);
				}
			}
		}
	}
}

// index

main.index {
	.container {
		margin: 0 auto;

		.introduction {
			display: flex;
			align-items: flex-start;
			justify-content: center;

			.img {
				width: 350px;
				height: 350px;
				border-radius: 100%;
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-shrink: 0;
				margin-right: 50px;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			.desc {
				flex-grow: 1;
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				justify-content: center;

				ul {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;
					width: 35%;

					li {
						// margin-bottom: 20px;
						line-height: 60px;
						font-size: 34px;
						font-family: "Typo";
						color: $violet;

						&:last-child {
							margin: 0;
						}
					}

					&.detailed {
						// width: 65%;
						flex-grow: 1;

						li {
							font-size: 22px;
							font-family: "Montserrat";
							color: $black;
							white-space: nowrap;
							font-weight: 300;
						}
					}
				}

				.socials {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					margin-top: 30px;

					a {
						width: 70px;
						height: 70px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 100%;
						background: $violet;
						transition: 0.3s;

						&:hover {
							transform: scale(1.1);
						}

						img {
							width: 50%;
							height: 50%;
							object-fit: contain;
						}
					}
				}
			}
		}

		.experience {
			display: flex;
			flex-wrap: wrap;
			padding: 20px 0;

			h2 {
				width: 100%;
				text-align: center;
				font-family: "Typo";
				font-size: 42px;
				color: $violet;
				text-align: center;
				font-weight: normal;
				margin-bottom: 40px;
			}

			ul {
				width: 50%;
				padding: 0 30px;

				li {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 20px;

					&:nth-child(2n) {
						padding-left: 70px;
					}

					span {
						display: flex;
						width: 80px;
						height: 80px;
						background: $violet;
						border-radius: 100%;
						align-items: center;
						justify-content: center;
						flex-shrink: 0;
						margin-right: 20px;

						img {
							width: 50%;
							height: 50%;
							object-fit: contain;
						}
					}
				}
			}
		}
	}
}

// all posts

main.allposts {
	align-items: flex-start;
	padding: 150px;
	overflow-y: scroll;

	.container {
		height: 100%;
		overflow-y: scroll;
		overflow: visible;

		h2 {
			width: 100%;
			text-align: center;
			font-family: "Typo";
			font-size: 42px;
			color: $violet;
			text-align: center;
			font-weight: normal;
			margin-bottom: 20px;
		}

		.items_row {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: flex-start;
			width: 100%;

			.item {
				width: 33.333333%;
				padding: 15px;
				margin-bottom: 15px;

				.content {
					height: 500px;
					border-radius: 20px;
					overflow: hidden;
					border: 1px solid $violet;
					display: flex;
					flex-direction: column;
					transition: 0.3s;
					background: $white;

					&:hover {
						-webkit-box-shadow: 0px 6px 32px -20px rgba(0, 0, 0, 0.75);
						-moz-box-shadow: 0px 6px 32px -20px rgba(0, 0, 0, 0.75);
						box-shadow: 0px 6px 32px -20px rgba(0, 0, 0, 0.75);

						border: 1px solid transparent;
					}

					.img {
						width: 100%;
						height: 50%;
						border-radius: 20px;
						background: $violet;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}

					.text {
						flex-grow: 1;
						padding: 15px 20px;
						display: flex;
						align-items: flex-start;
						flex-wrap: wrap;
						padding-bottom: 60px;
						position: relative;

						h3 {
							font-size: 26px;
							overflow: hidden;
							text-overflow: ellipsis;
							display: -moz-box;
							-moz-box-orient: vertical;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							line-clamp: 2;
							box-orient: vertical;
							margin-bottom: 10px;
							width: 100%;
						}

						p {
							font-size: 18px;
							width: 100%;
							overflow: hidden;
							text-overflow: ellipsis;
							display: -moz-box;
							-moz-box-orient: vertical;
							display: -webkit-box;
							-webkit-line-clamp: 4;
							-webkit-box-orient: vertical;
							line-clamp: 4;
							margin-bottom: 15px;
						}

						span {
							display: flex;
							width: 40px;
							height: 40px;
							background: url(/assets/icons/favicon.svg) no-repeat center center/contain;
							margin-right: auto;
							position: absolute;
							bottom: 15px;
							left: 15px;
						}

						a {
							display: flex;
							width: 170px;
							border-radius: 15px;
							position: absolute;
							height: 60px;
							align-items: center;
							cursor: pointer;
							justify-content: center;
							background: $violet;
							bottom: 0;
							font-size: 18px;
							color: $white;
							font-weight: 700;
							right: 0;
							transition: 0.3s;

							&:hover {
								background: rgba(48, 48, 209, 0.7);
							}
						}
					}
				}
			}
		}
	}
}

// add post

main.newpost {
	align-items: flex-start;
	padding: 150px;
	overflow-y: scroll;

	.container {
		height: 100%;
		overflow-y: scroll;
		overflow: visible;

		h2 {
			width: 100%;
			text-align: center;
			font-family: "Typo";
			font-size: 42px;
			color: $violet;
			text-align: center;
			font-weight: normal;
			margin-bottom: 20px;
		}

		form {
			background: $white;
			border-radius: 20px;
			padding: 40px 25px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;

			.input {
				width: 100%;
				margin-bottom: 25px;
				height: 70px;
				border-radius: 10px;
				position: relative;

				span {
					position: absolute;
					display: flex;
					padding: 2px 15px;
					font-size: 14px;
					font-weight: 700;
					color: $violet;
					background: $white;
					transform: translate(20px, -50%);
				}

				input {
					padding: 15px;
					width: 100%;
					height: 100%;
					border: 1px solid $violet;
					border-radius: 10px;
				}
			}

			.textarea {
				width: 100%;
				border-radius: 10px;
				position: relative;

				span {
					position: absolute;
					display: flex;
					padding: 2px 15px;
					font-size: 14px;
					font-weight: 700;
					color: $violet;
					background: $white;
					transform: translate(20px, -50%);
				}
			}

			textarea {
				padding: 15px;
				min-height: 200px;
				width: 100%;
				border: 1px solid $violet;
				border-radius: 10px;
				resize: none;
			}
		}
	}
}

// about

main.about {
	align-items: flex-start;
	padding: 150px;
	overflow-y: scroll;

	.container {
		height: 100%;
		overflow-y: scroll;
		overflow: visible;

		h2 {
			width: 100%;
			text-align: center;
			font-family: "Typo";
			font-size: 42px;
			color: $violet;
			text-align: center;
			font-weight: normal;
			margin-bottom: 20px;
		}

		.content {
			display: flex;
			align-items: center;
			justify-content: center;

			.information {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 50%;
				padding: 0 20px;

				.img {
					width: 350px;
					height: 350px;
					border-radius: 100%;
					overflow: hidden;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-shrink: 0;
					margin-bottom: 40px;

					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}

				p {
					font-size: 18px;
					text-align: center;
					margin-bottom: 20px;
				}
			}

			.experience {
				width: 50%;
				padding: 0 20px;

				ul {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;

					li {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-bottom: 20px;

						span {
							display: flex;
							width: 80px;
							height: 80px;
							background: $violet;
							border-radius: 100%;
							align-items: center;
							justify-content: center;
							flex-shrink: 0;
							margin-right: 20px;

							img {
								width: 50%;
								height: 50%;
								object-fit: contain;
							}
						}
					}
				}
			}
		}
	}
}

// contact

main.contact {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.map {
			width: 100%;
			height: 500px;
			border-radius: 20px;
			background: $violet;
			margin-bottom: 20px;
			overflow: hidden;

			iframe {
				display: flex;
				border: 0;
				filter: grayscale(1);
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.socials {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			padding: 0 50px;

			a {
				width: 100px;
				height: 100px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100%;
				background: $violet;
				transition: 0.3s;

				&:hover {
					transform: scale(1.1);
				}

				img {
					width: 50%;
					height: 50%;
					object-fit: contain;
				}
			}
		}
	}
}

// innner

main.inner {
	.container {
		display: flex;
		flex-direction: column;

		.post {
			display: flex;
			align-items: center;
			justify-content: center;

			.img {
				width: 35%;
				height: 500px;
				border-radius: 20px;
				background: $violet;
				flex-shrink: 0;
				overflow: hidden;
				margin-right: 30px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.desc {
				flex-grow: 1;
				padding: 50px 30px;

				h2 {
					font-size: 34px;
					color: $violet;
					font-family: "Typo";
					margin-bottom: 20px;
				}

				p {
					font-size: 18px;
					margin-bottom: 15px;

					&.text {
						max-height: 300px;
						overflow-y: scroll;
					}

					span {
						font-weight: 700;
					}
				}
			}
		}

		.delete {
			padding: 30px 70px;
			border-radius: 15px;
			background: #d01010;
			font-size: 24px;
			font-weight: 700;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $white;
			margin: 20px auto;
			transition: 0.3s;

			&:hover {
				-webkit-box-shadow: 0px 6px 32px -20px rgba(0, 0, 0, 0.75);
				-moz-box-shadow: 0px 6px 32px -20px rgba(0, 0, 0, 0.75);
				box-shadow: 0px 6px 32px -20px rgba(0, 0, 0, 0.75);
				transform: scale(1.02);
			}
		}
	}
}

// @media (max-width: 1200px) {
// }

// @media (max-width: 992px) {
// }

// @media (max-width: 768px) {
// }

// @media (max-width: 576px) {
// }
