extends layout.pug

block content
  main#main.allposts
    .container
      h2 All Posts
      div(class='items_row')
        .item
          .content
            .img
              // <img src="" alt="">
            .text
              h3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae dolorum repellat perferendis aliquid, voluptate eveniet omnis corporis mollitia amet quos.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolores in illum repellendus autem quis dolor, soluta corrupti labore commodi voluptates qui doloremque, impedit ex quos voluptatibus voluptas! Tenetur, sed veniam. Rem dolorem natus ipsa numquam atque ullam quae eligendi!
              span
              a(href='/inner') MORE
        .item
          .content
            .img
              // <img src="" alt="">
            .text
              h3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae dolorum repellat perferendis aliquid, voluptate eveniet omnis corporis mollitia amet quos.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolores in illum repellendus autem quis dolor, soluta corrupti labore commodi voluptates qui doloremque, impedit ex quos voluptatibus voluptas! Tenetur, sed veniam. Rem dolorem natus ipsa numquam atque ullam quae eligendi!
              span
              a(href='/inner') MORE
        .item
          .content
            .img
              // <img src="" alt="">
            .text
              h3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae dolorum repellat perferendis aliquid, voluptate eveniet omnis corporis mollitia amet quos.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolores in illum repellendus autem quis dolor, soluta corrupti labore commodi voluptates qui doloremque, impedit ex quos voluptatibus voluptas! Tenetur, sed veniam. Rem dolorem natus ipsa numquam atque ullam quae eligendi!
              span
              a(href='/inner') MORE
