extends layout.pug

block content
  main#main.allposts
    .container
      h2 All Posts
      div(class='items_row')
        each post in posts_list
          .item
            a.content(href=`/post/${ post.id }`)
              .img
                img(src=`/static/uploads/${ post.post_image }` alt="post photo")
              .text
                h3= post.post_title
                p= post.post_content
                span
                button MORE