extends layout.pug

block content
  main#main.index
    .container
      .introduction
        .img
          img(src='/static/img/avatar.jpg' alt='avatar')
        .desc
          ul
            li Blogger Name:
            li Module Name:
            li Place of residence:
            li Place of study:
          ul.detailed
            li 00010613:
            li Web technology 4BUIS011Cn 
            li Uzbekistan, Tashkent Istiqbol st., 12. 100047, 
            li Westminster internatioanl Unversity in Tashkent:
          .socials
            a(target='_blank' href='https://www.facebook.com/')
              img(src='/static/icons/social-facebook.svg' alt='social icon')
            a(target='_blank' href='https://www.google.com/')
              img(src='/static/icons/social-google.svg' alt='social icon')
            a(target='_blank' href='https://instagram.com/')
              img(src='/static/icons/social-instagram.svg' alt='social icon')
            a(target='_blank' href='https://www.linkedin.com/')
              img(src='/static/icons/social-linkedin.svg' alt='social icon')
            a(target='_blank' href='https://telegram.org/')
              img(src='/static/icons/social-telegram.svg' alt='social icon')
            a(target='_blank' href='https://www.tiktok.com/')
              img(src='/static/icons/social-tiktok.svg' alt='social icon')
            a(target='_blank' href='https://twitter.com/?lang=ru')
              img(src='/static/icons/social-twitter.svg' alt='social icon')
            a(target='_blank' href='https://www.whatsapp.com/')
              img(src='/static/icons/social-whatsapp.svg' alt='social icon')
      .experience
        h2 Personal experience 
        ul
          li
            span
              img(src='/static/icons/icon-1.svg' alt='icon')
            | The early years were very interesting. I successfully graduated from school №91 of the Yakkasaray district of the city of Tashkent. I studied in one and only school, I remember about my school years as the times when everything was curious and interesting
          li
            span
              img(src='/static/icons/icon-2.svg' alt='icon')
            | After leaving school, he settled down to continue his studies in college. First College, Professional Industrial College of Shaykhontakhur District
          li
            span
              img(src='/static/icons/icon-3.svg' alt='icon')
            | Due to changes in the legislation of the Republic of Uzbekistan, it was decided to close our college in the 2nd year of study. This decision led to the fact that the college had to be transferred to the College of Communications
        ul
          li
            span
              img(src='/static/icons/icon-4.svg' alt='icon')
            | College times were excellent, but not sufficient for the development of further professions. Therefore, I took up additional training at the innovative school PROVEB for a programmer, unfortunately I did not finish my studies
          li
            span
              img(src='/static/icons/icon-5.svg' alt='icon')
            | After many months of preparation for a higher educational institution, I was fortunate enough to become a student at Westminster International University in Tashkent in 2019
          li
            span
              img(src='/static/icons/icon-6.svg' alt='icon')
            | For further development in the field of information technology and increasing experience in programming, I decided to get a job in a modest web studio. Working experience in this studio is estimated at 5 months
