extends layout.pug

block content
  main#main.inner
    .container
      .post
        .img
          img(src='' alt='')
        .desc
          h2 Title
          p
            span Author: 
            | 00010613
          p
            span Date: 
            | 01.01.2020
          p.text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus accusamus aliquid quos! Numquam expedita nihil laborum magni amet! Commodi minima esse qui modi earum atque tempora? Et reiciendis officia laboriosam, ad a omnis atque sequi numquam quia, beatae pariatur, eaque architecto esse nisi sit cupiditate? Dolorum nulla deserunt quaerat alias sunt at deleniti quidem natus cumque. Cupiditate qui impedit nihil nisi ex, mollitia dicta culpa. Eius nobis repellendus obcaecati, nam iure ipsam! Voluptatem, reiciendis dolor voluptatibus quaerat facilis accusantium soluta qui dolores reprehenderit perferendis iste quisquam perspiciatis earum quo a possimus nemo numquam consectetur aperiam expedita. Praesentium aperiam tempora eaque architecto vero ullam sit quas fuga cum repellendus non natus asperiores repudiandae at impedit, veritatis ab aliquid in quam. Ab, quidem accusantium dolore accusamus incidunt sed exercitationem molestias tempore natus tempora quia hic saepe, quisquam soluta molestiae voluptatem fugiat id veniam! Obcaecati, recusandae temporibus cum sunt totam dolorum cupiditate autem, debitis reprehenderit, aut odio beatae odit delectus enim optio quis quibusdam nostrum natus provident omnis iure? Repellendus quis dolores nihil pariatur quo provident molestiae ratione illum, perferendis odio ad odit tempora maiores officiis saepe. Numquam debitis libero beatae suscipit mollitia ea quos dignissimos animi. Fugiat impedit deserunt tenetur expedita, facilis quam officia sequi perferendis reiciendis mollitia, suscipit et libero consequatur exercitationem cumque tempore culpa quo. Voluptatum repellendus nam, possimus dignissimos eum praesentium vel iure illum consequatur in nobis porro nisi nostrum, incidunt dolorum esse atque, animi vero explicabo est non enim! Corporis, provident, est cumque cupiditate doloribus consectetur non odit quo unde expedita voluptas numquam. Ea eos, tempora a illo voluptate atque quisquam repudiandae eveniet rem delectus autem maiores similique illum nisi quibusdam tenetur, sequi ratione, placeat harum dolor! Asperiores aliquam laboriosam excepturi blanditiis assumenda cumque a illo placeat iste, repellendus rem maxime consectetur incidunt inventore ullam officiis, nobis vero!
      a.delete(href='#!') DELETE THIS POST
  