extends layout.pug

block content
  main#main.newpost
    .container
      h2 New Post
      form(action='/newpost' method='POST'  enctype='multipart/form-data')
        .input
          span Title
          input(type='text' name='title' required)
        .input
          span Author
          input(type='text' name='author' required)
        .input
          span Date
          input(type='date' name='date' required)
        .input
          span Preview image
          input(type='file' name='file' accept="image/png, image/jpeg, image/jpg" required)
        .textarea
          span Content
          textarea(name='content' required)
        button(type="submit") Upload

      if success
        .success-holder
          .success
            p New post created successfully
            a.close(href='/newpost')