extends layout.pug

block content
  main#main.newpost
    .container
      h2 New Post
      form(action='#!' method='#!')
        .input
          span Title
          input(type='text' name='title' required)
        .input
          span Author
          input(type='text' name='author' required)
        .input
          span Date
          input(type='date' name='date' required)
        .textarea
          span Content
          textarea(name='content' required)
